<div
        data-controller="breadcrumb"
        style="background-image: url({{ asset('images/game-banner.avif') }})"
        class="w-full h-96 bg-cover bg-center bg-no-repeat flex justify-center items-center px-2 bg-[70%_0]"
>
    <h2 class="title-secondary">
        <span data-breadcrumb-target="$links" class="block">
        </span>
    </h2>
</div>