<div {{ attributes }}>
    <div {% block attributes %}{% endblock %}>
        {% block form %}
            {{ form_start(form, { attr: {
                novalidate: true,
            } }) }}
            {% block form_body %}{% endblock %}
            {{ form_end(form) }}
        {% endblock %}
    </div>
</div>