{% props spinner_attr = null %}

<div
        {{ attributes.defaults({
            'data-controller': 'spinner',
            'data-spinner-attributes-value': spinner_attr ? spinner_attr|json_encode : '{}',
        }) }}
>
</div>