.flip {
  animation: fa-flip 0.5s ease-in-out;
}

.flip-back {
  animation: fa-flip-back 0.5s ease-in-out;
}

@keyframes fa-flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes fa-flip-back {
  0% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.queue-side {
  @apply w-full h-1/2 flex flex-col items-center justify-center flex-wrap;

  @media (min-width: 1024px) {
    @apply w-1/2 h-full;
  }

  & .image {
    @apply h-fit w-fit rounded-full border-2 border-slate-300;

    & img {
      @apply rounded-full bg-slate-500 w-32 h-32 object-cover;
      @media (min-width: 768px) {
        @apply w-48 h-48;
      }
    }
  }

  & .header {
    @apply mt-3 w-full max-w-full flex flex-col gap-y-2;

    & h1 {
      @apply font-bold text-2xl flex flex-wrap flex-col items-center gap-y-2 text-ellipsis px-3;

      @media (min-width: 768px) {
        @apply text-3xl;
      }

      & span {
        @apply max-w-full text-ellipsis overflow-hidden;
      }
    }

    & .opponent-state {
      @apply w-fit self-center;
    }
  }

  & .shifoumi-header {
    @apply flex justify-center items-center gap-x-3 w-full max-w-full overflow-hidden px-3;

    & .image {
      @apply shrink-0;

      & img {
        @apply w-20 h-20;

        @media (min-width: 768px) {
          @apply w-24 h-24;
        }
      }
    }

    & span {
      @apply text-xl font-bold text-ellipsis overflow-hidden max-w-full;

      @media (min-width: 768px) {
        @apply text-2xl;
      }
    }
  }

  & .cards, & .result {
    @apply w-full flex items-center justify-center gap-3 px-3 mt-5;

    @media (min-width: 768px) {
      @apply mt-12;
    }

    & .card {
      @apply w-fit border-2 border-slate-300 cursor-pointer rounded-xl p-1 flex flex-col items-center justify-center shadow-lg;

      & img {
        @apply w-40;
      }

      & span {
        @apply text-xl font-semibold;
      }

      &:hover {
        @apply bg-slate-300 transition-all;
      }
    }
  }
}