{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('auth') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('auth') }}
{% endblock %}

{% block body %}
    <main class="auth-form">
        <div>
            <div>
                <h1>{% block main_title %}{% endblock %}</h1>
                <span>{% block description %}{% endblock %}</span>
            </div>

            {% block form %}{% endblock %}
        </div>
    </main>
{% endblock %}